{% extends "base.twig" %}

{% block content %}

<h2>{% trans %}Your certificate is about to expire.{% endtrans %}</h2>
<form action="{{ target }}">

    {% for name, value in data -%}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    {%- endfor %}

    <p>{{ 'Your certificate will expire in %daysleft% days.'|trans({'%daysleft%': daysleft}) }}</p>

    {% if renewurl -%}
    <p>{{ "Please <a href='%renewurl%'>renew your certificate</a> in time."|trans({'%renewurl%': renewurl})|raw }}</p>
    {% else -%}
    <p>{% trans %}Please renew your certificate in time.{% endtrans %}</p>
    {% endif -%}

    <p><input type="submit" name="proceed" id="proceedbutton" class="pure-button pure-button-red"
        value="{% trans %}Proceed{% endtrans %}" autofocus></p>

</form>

{% endblock %}
